:root{
  --colorfont:white;
  --colorfonthover:rgb(0, 136, 255);
  --back:rgb(0, 0, 0);
  --preloadback:rgb(15, 15, 15);
}

html {
    background-color: var(--back);
    height: 100vh;
    width: 100vw;
    display: flex;
}

body {
    font-family: 'jabba_the_fontregular';
    font-size: 15px;
    overflow: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    color: var(--colorfont);
  }
 body::-webkit-scrollbar {
    display: none;
  }
  a {
	text-decoration: none;
}
#preloader:hover{
  color: var(--colorfonthover);

}
h1:hover{
  color: var(--colorfonthover);
}

#preloader {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: -5px;
    background-color: var(--preloadback);
    border-left: 5px solid var(--colorfont);
	z-index: 100000;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 100;
	transition: transform 1.5s;
}
#preloader img {
	height: 400px;
	width: 400px;
}
body .sunajgif{
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: auto;
}
body .wel{
  
  position: absolute;
  text-align: center;
  top: 20px;
  left: 0;
  right: 0;
}