:root{
  --colorfont:white;
  --colorfonthover:rgb(0, 0, 0);
  --back:rgb(56, 56, 56);
  --back2:#ffca57;
}

html {
    background-color: var(--back);
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}

